*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    height: 480px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
}

#storiyan{
    height: 120px;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid gainsboro;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    border: 3px solid red;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 6px;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}